POSTGRES_DB=change_with_postgres_database
POSTGRES_USER=change_with_postgres_user
POSTGRES_PORT=5433
API_PORT=80
FRONTEND_PORT=3000
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@local.dev
NEXT_PUBLIC_API_URL=http://localhost:80
NEXT_TELEMETRY_DISABLED=1